[Unit]
Description=Brew Service
After=multi-user.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /brew/tilt/__main__.py --log-file /var/log/brew/brew.log --log-level DEBUG "{{ url }}" "{{ beer_name }}" /root/.ssh/sign.key
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
