[Unit]
Description=Brew Service
After=multi-user.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /brew/tilt/__main__.py --log-file /var/log/brew/brew.log --log-level DEBUG http://192.168.50.194:5000/ "test beer 1"
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
